.right
{width: 1fr;
  display: inline-block;

  top: '50%';
  left: '50%';
}

.left
{display:  inline-block;
  width: 1fr;

}
.grid{
margin-top:30px;
display: grid;
grid-template-columns: 600px 600px 
}