button{ 
    background-color: #FFAF40;
    color: white;
    border: none;
    height: 30px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    position: center;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
  }
  button:hover{
    opacity: 0.5;
  }

.Title{
  display: flex;
  font-weight: bold;
  position: center;
  right: 10000px;
  
}
.textbox{
  display: block;

}


.right-side
{width: 1fr;
  display: inline-block;
}

.left-side
{display:  inline-block;
  width: 1fr;
 background-color: orange;
}
.grid{
margin-top:30px;
display: grid;
grid-template-columns: 600px 600px 
}
.middle{
display: inline-block;
text-align: center;
background-color: aqua;
}
.outer{

    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}