.body{
    background-color: rgb(43, 124, 59);
    display: inline-block;
    width: 245;
    color: DodgerBlue;

}
.nav {
    background-color: rgb(156, 156, 52);
    display: grid;
    grid-template-columns:100px  100px;
    grid-template-rows:100px  100px;
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
  