@import url('https://fonts.googleapis.com/css?family=Montserrat');

.create {
    background-image:
        url(../../public/background.png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.continue {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    gap: 12px;

    position: absolute;
    width: 225px;
    height: 50px;
    left: 1017px;
    top: 667px;

    background: #FFAF40;
    border-radius: 8px;
    border-width: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.classTime,
.classDate,
.joinDate,
.joinTime,
.profileDate,
.profileTime {
    box-sizing: border-box;

    background: #F6F6F6;
    border: 1px solid #FFAF40;
    border-radius: 8px;

    width: 141px;
    height: 50px;
}

.h2 {
    position: absolute;
    width: 568px;
    height: 28px;
    left: 712px;
    top: 120px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;

    color: #000000;
}

.hiveName {
    position: absolute;
    width: 88px;
    height: 20px;
    left: 753px;
    top: 200px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #000000;
}

.hiveNameField {
    box-sizing: border-box;

    width: 400px;
    height: 50px;
    position: absolute;
    left: 753px;
    top: 225px;
    /* Gray/01 */

    background: #F6F6F6;
    border: 1px solid #FFAF40;
    border-radius: 8px;
}

.displayName {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 753px;
    top: 285px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #000000;
}

.displayNameField {
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 50px;
    top: 310px;
    left: 753px;

    /* Gray/01 */

    background: #F6F6F6;
    border: 1px solid #FFAF40;
    border-radius: 8px;
}

.joinDeadline {
    position: absolute;
    width: 300px;
    height: 20px;
    left: 753px;
    top: 370px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #000000;
}

.joinDate {
    position: absolute;
    top: 395px;
    left: 753px;
    width: 197.5px;
}

.joinTime {
    position: absolute;
    top: 395px;
    left: 953px;
    width: 197.5px;
}

.profileDeadline {
    position: absolute;
    width: 400px;
    height: 20px;
    left: 753px;
    top: 455px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #000000;
}

.profileDate {
    position: absolute;
    top: 480px;
    left: 753px;
    width: 197.5px;
}

.profileTime {
    position: absolute;
    top: 480px;
    left: 953px;
    width: 197.5px;
}

.classDeadline {
    position: absolute;
    width: 300px;
    height: 20px;
    left: 753px;
    top: 540px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #000000;
}

.classDate {
    position: absolute;
    top: 565px;
    left: 753px;
    width: 197.5px;
}

.classTime {
    position: absolute;
    top: 565px;
    left: 953px;
    width: 197.5px;
}