button{  
    background-color: #FFAF40;
    color: white;
    border: none;
    height: 50px;
    width: 225px;
    border-radius: 16px;
    cursor: pointer;
    position: center;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  button:hover{
    opacity: 0.5;
  }
  .small_button{  
    background-color: #FFAF40;
    color: white;
    border: none;
    height: 50px;
    width: 113px;
    border-radius: 16px;
    cursor: pointer;
    position: center;
    font-weight: bold;
    font-size: 15px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .long_button{  
    background-color: #FFAF40;
    color: white;
    border: none;
    height: 50px;
    width: 492px;
    border-radius: 16px;
    cursor: pointer;
    position: center;
    font-weight: bold;
    font-size: 15px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
.Title{
  display: flex;
  font-weight: bold;
  position: center;
  right: 10000px;
  
}
.textbox{
  display: block;

}


.right-side
{width: 1fr;
  display: inline-block;

  top: '50%';
  left: '50%';
}

.left-side
{display:  inline-block;
  width: 1fr;

}
.grid{
margin-top:30px;
display: grid;
grid-template-columns: 600px 600px 
}

textbox {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
}

.multiline-textbox {
  display: block;
  background-color: #FFAF40;
    color: white;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;


  width: 400px;
    height: 50px;
    top: 310px;
    left: 753px;
}