@import url('https://fonts.googleapis.com/css?family=Montserrat');

button {
  background-color: #FFAF40;
  font-family: 'Montserrat';
  color: white;
  border: none;
  height: 50px;
  width: 225px;
  border-radius: 16px;
  cursor: pointer;
  position: center;
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

button:hover {
  opacity: 0.5;
}

.small_button {
  background-color: #FFAF40;
  color: white;
  border: none;
  height: 50px;
  width: 113px;
  border-radius: 16px;
  cursor: pointer;
  position: center;
  font-weight: bold;
  font-size: 15px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.long_button {
  background-color: #FFAF40;
  color: white;
  border: none;
  height: 50px;
  width: 492px;
  border-radius: 16px;
  cursor: pointer;
  position: center;
  font-weight: bold;
  font-size: 15px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.Title {
  display: flex;
  font-weight: bold;
  position: center;
  right: 10000px;

}

.right {
  width: 1fr;
  display: inline-block;
  vertical-align: top;

  top: '50%';
  left: '50%';
}

.left {
  display: inline-block;
  vertical-align: top;
  width: 1fr;
}

.grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 600px 600px
}

/* replace*/
.right-side {
  width: 1fr;
  display: inline-block;
  vertical-align: top;

  top: '50%';
  left: '50%';
}

/* replace*/
.left-side {
  display: inline-block;
  vertical-align: top;
  width: 1fr;

}

/* replaced grid*/


.nav {
  background-color: #FFFFFF;
  color: #000000;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-style: normal;
  height: 50px;
  vertical-align: top;
}

.rightNav {
  background-color: #FFFFFF;
  color: #000000;
  display: absolute;
  font-family: 'Montserrat';
  font-style: normal;
}


.multiline-textbox {
  display: block;
  background-color: #F6F6F6;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #FFAF40;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1.5;
  resize: vertical;

  resize: "none";

  width: 400px;
  height: 50px;
  top: 310px;
  left: 753px;
}






/* Need to replace by button class*/
.continue {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  gap: 12px;

  position: absolute;
  width: 225px;
  height: 50px;
  left: 1017px;
  top: 667px;

  background: #FFAF40;
  border-radius: 8px;
  border-width: 0px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.SmalltextBox {
  box-sizing: border-box;
  position: absolute;
  background: #F6F6F6;
  border: 1px solid #FFAF40;
  border-radius: 8px;
  width: 141px;
  height: 50px;
  font-family: 'Montserrat';

}

.h2 {
  position: absolute;
  width: 568px;
  height: 28px;
  left: 712px;
  top: 120px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;

  color: #000000;
}

.display {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  color: #000000;
}

.textBox {
  position: absolute;
  box-sizing: border-box;
  background: #F6F6F6;
  border: 1px solid #FFAF40;
  border-radius: 8px;
  font-family: 'Montserrat';

}



.displayNameField {
  box-sizing: border-box;
  font-family: 'Montserrat';
  position: absolute;
  width: 400px;
  height: 50px;
  top: 310px;
  left: 753px;

  /* Gray/01 */

  background: #F6F6F6;
  border: 1px solid #FFAF40;
  border-radius: 8px;
}

/* LOGO */
.hivemind {
  position: absolute;
  width: 210px;
  height: 38px;
  left: 1212px;
  top: 0px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 48px;

  color: #000000;

}

/* Waitingp1, reuse for Phase # on waiting pages */
.roomCode {
  position: absolute;
  width: 100px;
  height: 115px;
  left: 688px;
  top: 50px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 94px;
  line-height: 115px;
  /* identical to box height */


  color: #000000;
}

.nums {
  position: absolute;
  width: 98px;
  height: 31px;
  top: 180px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  line-height: 93px;

  color: #FFAF40;
}

.numsDescription {

  position: absolute;
  width: 300px;
  height: 27px;
  top: 350px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;

  color: #FFAF40;
}

.attendees {
  position: absolute;
  width: 214px;
  height: 20px;
  left: 754px;
  top: 400px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #000000;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  gap: 12px;

  position: absolute;
  width: 225px;
  height: 50px;
  left: 700px;
  top: 667px;

  background: #FFAF40;
  border-radius: 8px;
  border-width: 0px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.inputBox {
  position: center;
  background: #F6F6F6;
  border: 1px solid #FFAF40;
  border-radius: 8px;
  width: 492px;
  height: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 18.5px;
}

.loginButton {
  float: right;
  background-color: #FFAF40;
  color: white;
  border: none;
  height: 50px;
  width: 225px;
  border-radius: 16px;
  cursor: pointer;
  position: center;
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.welcomeBackText {
  position: absolute;
  width: 711px;
  height: 115px;
  left: 640px;
  top: 185px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 94px;
  line-height: 115px;
}

.welcomeBackSubtext {
  position: absolute;
  width: 400px;
  height: 28px;
  left: 796px;
  top: calc(50% - 28px/2 - 198px + 50px);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
}

.welcomeText {
  position: absolute;
  width: 455px;
  height: 115px;
  left: 765px;
  top: 185px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 94px;
  line-height: 115px;
}

.welcomeSubtext {
  position: absolute;
  width: 400px;
  height: 28px;
  left: 860px;
  top: calc(50% - 28px/2 - 198px + 50px);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
}

.loginForm {
  position: absolute;
  left: 750px;
  top: 398px;
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 18.5px;
}

.slider {
  -webkit-appearance: none;
  width: 398px;
  height: 0px;
  border: 1px solid #FFAF40;
  background: #d3d3d3;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #FFAF40;
  opacity: 1;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.dropdown {
  width: 398px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  padding-bottom: 50px
}

.multiselect {
  width: 398px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  padding-bottom: 50px
}

.secondaryButton{
  height: 50px;
  width: 225px;
  margin-top: 8px;

  border-radius: 8px;
  padding: 16px 32px 16px 32px;
  
  background: #FFFFFF;
  border: 1px solid #FFAF40;
  border-radius: 8px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;


  text-align: center;

  color: #FFAF40;
  
  cursor: pointer;

}

.yellowText{
  background: #FFFFFF;
  border: none;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;


  text-align: center;

  color: #FFAF40;
  cursor: pointer;
}

.tinyButton{

  padding:0px 8px 8px 0px;
  
  background: #FFFFFF;
  border: none;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;


  text-align: center;

  color: #FFAF40;
  
  cursor: pointer;
  margin: 8px;

}

.questionList {
  overflow:scroll;
  height: 500px;
  border: 1px solid #FFAF40;

}

.smallInputBox {
  position: center;
  background: #F6F6F6;
  border: 1px solid #FFAF40;
  border-radius: 8px;
  height: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 18.5px;
}

.explanation {
  display: block;
  background-color: #F6F6F6;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #FFAF40;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;

  width: 475px;
  height: 50px;
}

.border {border: 1px solid #FFAF40}

.tinyInputBox {
  position: center;
  background: #F6F6F6;
  border: 1px solid #FFAF40;
  
  width: 50px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
}

.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;

/* identical to box height */

color: #000000;
}

.radioText {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 18.5px;
  margin-right: 30px
}

.acceptreject {
  color: white;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 16px;
  cursor: pointer;
  position: center;
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
/* entry styling*/
.entryBox {
  background-color: #F6F6F6; 
  border-style: solid;
  border-width: 2px;
  border-color: #FFAF40;
  border-radius: "25px";
  overflow: hidden; 
  border-radius: 25px;
font-family:'Montserrat';
  height: 250px;
  margin: 7px;

}

.verticalGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px; /* Set a fixed row height */
  grid-gap: 20px;
}

.entryBox2 {
  background-color: #F6F6F6; 
  border-style: solid;
  border-width: 2px;
  border-color: #FFAF40;
  border-radius: "25px"; 
  border-radius: 25px;
font-family:'Montserrat';
  height: 250px;
  margin: 7px;

}

.entry  li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.entryWrapper {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: center;
  border-color: #FFAF40;
  border-bottom: 2px solid #FFAF40;
  background-color: #F6F6F6;
}

.miniEntryWrapper {
  display: grid;
  grid-template-columns: auto 30px 30px;
  align-items: center;
  border-color: #FFAF40;
  background-color: #F6F6F6;
  border-right:2px #FFAF40;
}

  .bigEntryWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    grid-auto-rows: 200px;
  }
  .box1 {
    align-self: stretch;
  }
  .box2 {
    align-self: start;
  }

.flex-grid {
  display: flex;
}

.big-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #FFAF40;
  margin-right: 20px;
}

.text-box {
  display: flex;
  flex-direction: column;
  height: 50px;
}

.name {
  font-family: 'Montserrat';
  display: inline-block;
  text-align: center; 
  font-size: xx-large;
  padding-right: 40px;
}

.details {
  font-family: 'Montserrat';
  display: inline-block;
  text-align: center;
  padding-right: 40px;
}

.pointer {
  width: 100px;
  height: 100px;
  background-color: F6F6F6;
  margin-left: 10px;
}